<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js
    "></script>

</head>

<body>

{% if successful %}
    {#handle charts#}
    {#objects available : labels, data, chart_type#}
    <!-- <h3>data</h3> -->
    <!-- <h3>{{ chart_type }}</h3> -->
    <!-- <h3>{{ label }}</h3> -->
    <!-- <h3>{{ data }}</h3> -->

{% else %}
    <h3>
        error: {{ message }}
    </h3>
{% endif %}
<div>
    <canvas id="chart"></canvas>
</div>
<script defer type="module">
    const data = [
        {% for item in data %}
            '{{ item }}',
        {% endfor %}
    ];

    new Chart(document.getElementById('chart'), {
        type: 'pie',
        data: {
            labels: [1, 2, 3],
            datasets: [
                {data: [3, 2, 21]}
            ]
        }
    })
</script>

</body>

</html>